{% extends 'dashboard/dashboard_base.html' %}
{% load static   %}

{% block pagetitle %} - Team {% endblock pagetitle %}

{% block content %}
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
               <p>Upload Data</p>
               <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}


                 <div class="row each-row">
                   <div class="col-12 col-sm-12 required-field">
                     <label> upload file</label>
                   </div>
                   <div class="col-12 col-sm-12">
                     {{form.file}}
                     {{form.file.errors}}
                   </div>
                 </div>


                 <div class="row each-row">

                   <div class="col-12 col-sm-2 col-md-4">
                   <input type="submit" id="publish" name="publish" class="width-100 btn btn-flat btn-success mb-3 std-btn" value="Publish"/>
                   </div>

                 </div>

                 </form>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block extrajs %}
{% endblock extrajs %}
