{% extends 'dashboard/dashboard_base.html' %}
{% load static el_pagination_tags %}

{% block pagetitle %} - Venue{% endblock pagetitle %}

{% block content %}
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
               <p>Venue</p>
               <p><a href="{% url 'dashboard:upload-venue' %}"> Upload Venue</a></p>
               <table class="product-table">
                 <th>Sl.No</th>
                 <th>Name</th>
                 {% paginate 10 list %}
                 {% get_pages %}
                 {% for item in list %}
                   <tr>
                       <th scope="row">{{ pages.current_start_index|add:forloop.counter0 }}</th>
                       <td>{{ item.name }} </td>
                   </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
          {% show_pages %}
        </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block extrajs %}
{% endblock extrajs %}
